*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

body::-webkit-scrollbar {
    display: none;
}